################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HotelInnAPI/.vs/HotelInnAPI
/HotelInnAPI/HotelInn.Contracts/bin/Debug/net5.0
/HotelInnAPI/HotelInn.Contracts/obj
/HotelInnAPI/HotelInn.Domain/bin/Debug/net5.0
/HotelInnAPI/HotelInn.Domain/obj
/HotelInnAPI/HotelInn.Persistence/bin/Debug/net5.0
/HotelInnAPI/HotelInn.Persistence/obj
/HotelInnAPI/HotelInn.Presentation/bin/Debug/net5.0
/HotelInnAPI/HotelInn.Presentation/obj
/HotelInnAPI/HotelInn.Services/bin/Debug/net5.0
/HotelInnAPI/HotelInn.Services/obj
/HotelInnAPI/HotelInn.Services.Abstractions/bin/Debug/net5.0
/HotelInnAPI/HotelInn.Services.Abstractions/obj
/HotelInnAPI/HotelInnAPI/bin/Debug/net5.0
/HotelInnAPI/HotelInnAPI/obj
/HotelInnAPI/Serilog/Logs
/HotelInnAPI/HotelInnAPI.Tests/bin/Debug/net5.0
/HotelInnAPI/HotelInnAPI.Tests/obj
/HotelInnAuthorizer/.vs/HotelInnAuthorizer/v16
/HotelInnAuthorizer/HotelInnAuthorizer/obj
/HotelInnAuthorizer/HotelInnAuthorizer.Repositories/obj
/HotelInnAuthorizer/.vs/HotelInnAuthorizer/DesignTimeBuild
/HotelInnAuthorizer/HotelInnAuthorizer/bin/Debug/net5.0
/HotelInnAuthorizer/HotelInnAuthorizer.Repositories/bin/Debug/net5.0
/HotelInnAuthorizer/HotelInnAuthorizer.Services/bin/Debug/net5.0
/HotelInnAuthorizer/HotelInnAuthorizer.Services/obj
/HotelInnAuthorizer/.vs/HotelInnAuthorizer/config
